@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.container {
  width: 100%;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aling-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.active {
  color: #da1233 !important;
  border-bottom: 3px solid #da1233;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #4e4c4c !important;
  font-family: "Ubuntu", sans-serif;
  height: 5000px;
}

.navbar {
  margin: 1rem 0;
}

.navbar .branding img {
  width: 200px;
}

.navbar .nav_links a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4e4c4c;
  text-decoration: none;
  padding: 1rem;
  margin: 0 1rem;
}

.hero {
  margin: 6rem 0;
}

.hero .hero_detail h1 {
  font-size: 5rem;
}

.hero .hero_detail h1 span {
  color: #033b86;
}

.hero .hero_detail button {
  text-align: center;
  margin: 3rem auto;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #da1233;
  border: none;
  color: white;
  outline: none;
}

.hero .hero_detail button i {
  padding-right: 0.5rem;
}

.hero .hero_img {
  width: 650px;
  height: 400px;
  padding: 1rem;
  position: relative;
  border: 20px solid transparent;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
}

.hero .hero_img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(218, 18, 51, 0.8)), to(rgba(3, 59, 134, 0.8)));
  background: linear-gradient(270deg, rgba(218, 18, 51, 0.8) 0%, rgba(3, 59, 134, 0.8) 100%);
  z-index: -1;
  margin: -20px;
  border-radius: 40px;
}

.hero .hero_img i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #033b86;
  padding: 1rem 1rem 1rem 1.3rem;
  background-color: white;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42);
}

.service {
  margin: 15rem 0;
}

.service > div {
  background-color: white;
  width: 300px;
  border-radius: 0 40px 40px 0;
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.service > div .details {
  text-align: center;
  padding-right: 1.5rem;
  color: #4e4c4c;
}

.service img {
  width: 150px;
  height: 150px;
}

.solve_doubts {
  margin: 10rem 0;
}

.solve_doubts .doubts_details > h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.solve_doubts .doubts_details > h1 span {
  color: #033b86;
}

.solve_doubts .doubts_details > div {
  margin: 2rem 0;
}

.solve_doubts .doubts_details img {
  width: 80px !important;
}

.solve_doubts .doubts_details .details {
  padding: 0 2rem;
}

.solve_doubts .doubts_details .details h1 {
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
}

.solve_doubts .doubts_details .details p {
  font-size: 1.5rem;
}

.solve_doubts .doubts_poster img {
  width: 500px;
  margin-top: 5rem;
}

.how_work > h1 {
  font-size: 2.5rem;
  color: #033b86;
  margin: 2rem 0;
}

.how_work .work_details img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 5px #525050;
          box-shadow: 0 0px 5px #525050;
}

.how_work .work_details p {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0 1.5rem;
}

.how_work .work_details .question {
  margin-top: 3rem;
}

.how_work button {
  margin: 3rem auto;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #da1233;
  border: none;
  color: white;
  outline: none;
}

.how_work button i {
  padding-right: 0.5rem;
}

.live_classes_title h1 {
  font-size: 3rem;
  margin: 10rem 0 5rem 0;
}

.live_classes_title h1 span {
  color: #033b86;
}

.live_classes .demo_class {
  background-color: white;
  width: 700px;
  height: 400px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.49);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.49);
  border-radius: 10px;
}

.live_classes .demo_class .question p {
  padding-top: 0.6rem;
}

.live_classes .demo_class .question img {
  width: 100px;
}

.live_classes .demo_class .question .mcq_option div {
  background-color: white;
  width: 250px;
  height: 30px;
  margin: 1.5rem 0;
  padding: 0.4rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
}

.live_classes .demo_class .chat_people {
  background-color: #033b86;
  width: 180px;
  height: 320px;
}

.live_classes .demo_class .chat_people div {
  background-color: white;
  width: 150px;
  height: 60px;
  margin: 1.5rem auto;
}

.live_classes .demo_class i {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50px;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}

.live_classes .demo_class i:hover {
  cursor: pointer;
}

.live_classes .class_details > div {
  margin: 2rem 0;
}

.live_classes .class_details > div img {
  width: 100px;
}

.live_classes .class_details > div div {
  margin: 0 2rem;
}

.live_classes .class_details > div div h1 {
  font-size: 2rem;
}

.live_classes .class_details > div div p {
  font-size: 1.2rem;
  padding: 1rem 0;
  font-weight: normal;
}

.first_class_title {
  text-align: center;
  margin: 5rem 0;
}

.first_class_title h1 {
  font-size: 2.5rem;
  color: #033b86;
  text-transform: uppercase;
}

.first_class_title button {
  margin: 2rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #da1233;
  border: none;
  color: white;
  outline: none;
}

.jee_neet_title {
  margin: 10rem 0 3rem 0;
}

.jee_neet_title h1 {
  text-align: center;
  font-size: 3rem;
}

.jee_neet_title h1 span {
  color: #033b86;
}

.jee_neet_preparation .slider_container {
  padding: 3rem;
  outline: none;
}

.jee_neet_preparation .slider_container .jee_neet_video {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
}

.jee_neet_preparation .slider_container .jee_neet_video video {
  width: 600px;
  padding: 2rem;
  outline: none;
}

.jee_neet_preparation .slider_container .jee_neet_details {
  text-align: justify;
}

.jee_neet_preparation .slider_container .jee_neet_details h1 {
  font-size: 2.5rem;
  color: #033b86;
}

.jee_neet_preparation .slider_container .jee_neet_details p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: gainsboro;
  text-indent: -9999px;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #033b86;
}

.prepar_now {
  text-align: center;
}

.prepar_now button {
  margin: 2rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #da1233;
  border: none;
  color: white;
  outline: none;
}
/*# sourceMappingURL=style.css.map */