// -------------------- Expert Tutor Section Styling --------------------
.tutor_title {
  margin: 10rem 0 5rem 0;
  h1 {
    color: $primary-blue;
  }
}

.expert_tutor {
  > div {
    margin: 3rem 0;
    img {
      width: 130px !important;
      height: 130px !important;
      border-radius: 100%;
      margin: 0 1rem;
    }
  }
  .tutor_detail {
    width: 450px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
    background-color: $pure;

    h3 {
      color: $primary-blue;
      padding-bottom: 0.5rem;
    }
  }
}
.tutor_svg {
  img {
    position: absolute;
    width: 50%;
    z-index: -1;
    left: 0;
    top: 1110%;
    transform: rotate(180deg);
  }
}
