.navbar {
  margin: 1rem 0;

  .branding {
    img {
      width: 200px;
    }
  }

  .nav_links {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: $Primary-gray;
      text-decoration: none;
      padding: 1rem;
      margin: 0 1rem;
    }
  }
}
