// -------------------- Service Section Styling --------------------
.service {
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-column-gap: 2.5rem;
  grid-row-gap: 3.5rem;
  align-items: center;
  justify-content: space-around;

  > div {
    background-color: $pure;
    border-radius: 0 40px 40px 0;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);

    .details {
      text-align: center;
      margin: 0 auto;
      color: $Primary-gray;
    }
  }
  img {
    width: 150px;
    height: 150px;
  }
}
