// -------------------- Slove Your Doubts Section Styling --------------------
.solve_doubts {
  margin: 10rem 0;
  .doubts_details {
    > h1 {
      margin-bottom: 4rem;
      span {
        color: $primary-blue;
      }
    }
    > div {
      margin: 2rem 0;
    }
    img {
      width: 80px !important;
    }
    .details {
      padding: 0 2rem;
      h2 {
        padding-bottom: 0.5rem;
      }
    }
  }

  .doubts_poster {
    img {
      width: 500px;
    }
  }
}
.doubts_svg {
  img {
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0;
    top: 150%;
  }
}
