// -------------------- Work Section Styling --------------------
.how_work {
  > h2 {
    color: $primary-blue;
    margin: 2rem 0;
  }
  .work_details {
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 0px 5px rgb(82, 80, 80);
    }
    p {
      margin-top: 1rem;
      padding: 0 1.5rem;
    }

    .question {
      margin-top: 3rem;
      p {
        color: $primary-blue;
      }
    }
  }
}
