.how_work {
  > h1 {
    font-size: 2.5rem;
    color: $primary-blue;
    margin: 2rem 0;
  }
  .work_details {
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 0px 5px rgb(82, 80, 80);
    }
    p {
      font-size: 1.5rem;
      margin-top: 1rem;
      padding: 0 1.5rem;
    }

    .question {
      margin-top: 3rem;
    }
  }
  button {
    margin: 3rem auto;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: $primary-pink;
    border: none;
    color: $pure;
    outline: none;
    i {
      padding-right: 0.5rem;
    }
  }
}
