@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$primary-pink: #da1233;
// $primary-pink: #ff143b;
$primary-blue: #033b86;
$Primary-gray: rgb(78, 76, 76);
$pure: white;
$dark: black;

.container {
  width: 100%;
  padding: 0 2rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.aling-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.active {
  color: $primary-pink !important;
  border-bottom: 3px solid $primary-pink;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: $Primary-gray !important;
  font-family: "Ubuntu", sans-serif;
  height: 10000px;
}

@import "./navbar";
@import "./hero";
@import "./services";
@import "./solveDoubts";
@import "./workDetails";
@import "./liveClass";
@import "./jee-neetClass";
@import "./subjectsBooksBoard";
